.HN-Scope .tab-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.HN-Scope .choose-model {
  margin: 5px;
  margin-bottom: 0;
}

.HN-Scope button {
  margin-top: 5px;
}