.OR-Scope .container {
  text-align: center;
  margin: 20px;
}

.OR-Scope .upload-box, .OR-Scope .generate-box {
  width: 400px;
  height: 400px;
  background-color: lightgray;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OR-Scope .upload-placeholder, .OR-Scope .generate-placeholder {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px dashed gray;
  line-height: 400px;
  text-align: center;
}

.OR-Scope button {
  margin-top: 10px;
}

.OR-Scope .tab-content {
  display: flex;
}

/* Left Side */
.OR-Scope .left-container {
  flex: 1;
  display: flex;
  margin: 0 25px;
  flex-direction: column;
  transform: translateY(-50px);
  gap: 30px;
}
/* Middle Part */
.OR-Scope .middle-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
/* Right Side */
.OR-Scope .right-container {
  flex: 1;
  display: flex;
  margin: 0 25px;
  flex-direction: column;
  transform: translateY(-50px);
  gap: 30px;
}